<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary" *ngIf="(loginService.currentUser$ | async) as user">
  <div class="container">
    <a class="navbar-brand text-light">ESA</a>

      <ul class="navbar-nav">
        <ng-container *ngIf="isAdmin; else employee">
          <li class="nav-item">
            <a class="nav-link" routerLink='/admin' routerLinkActive='active'>View Users</a>
          </li>

          <li class="nav-item">
            <a class="nav-link">Add User</a>
          </li>
        </ng-container>

        <ng-template #employee>
          <li class="nav-item">
            <a class="nav-link" routerLink='/allocations' routerLinkActive='active'>Allocation Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Add Allocation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Review Allocation</a>
          </li>
        </ng-template>
      </ul>
      <div class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.first_name | titlecase}}</a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" (click)="onLogOut()">LogOut</a>
        </div>
      </div>
    </div>
</nav>
