<div class="container">
  <div class="text-center">

    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
      <div class="col-md-6 offset-md-3">
        <h3 class="text-primary">Account Login</h3>
    <hr>
    <p class="pull-left">
      <u>Login with your Employee Id</u>
    </p>
      <div class="form-group">
        <input class="form-control me-2" name="username" [(ngModel)]="model.userid"
          type="text" required placeholder="Ex: 406274" maxlength='6' autocomplete="off">
      </div>
      <div class="form-group">
        <input class="form-control me-2" name="password" [(ngModel)]="model.password"
          minlength='8' maxlength='15' required type="password" placeholder="Password">
      </div>
      <div class="form-group">
        <button class="btn btn-success" type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </div>
    </form>
  </div>
</div>
